.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#myModal{
    color:black
}

.container-fluid h3{
    color:white;
    letter-spacing: 0.09em;
    line-height: 100px;
    display: inline;
}
.container-fluid p{
    color:white;
    letter-spacing: 0.09em;
    line-height: 55px;
    display: inline;
}
  #invoiceData{
      margin:60px
  }
  .card-text{
    color:white;
    letter-spacing: 0.09em;
    line-height:55px !important; 
  }
  .card-link{
    background: #D96F32;
    color: white;
    border: 4px solid #D96F32;
  }

