.container-fluid h3{
    color:white;
    letter-spacing: 0.09em;
    line-height: 100px;
    display: inline;
}
.container-fluid p{
    color:white;
    letter-spacing: 0.09em;
    line-height: 55px;
    display: inline;
}