.modal-backdrop {
    /* position: fixed; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1040; */
    /* background-color: #000; */
}
.container-fluid h3{
    color:white;
    letter-spacing: 0.09em;
    line-height: 100px;
    display: inline;
}
.container-fluid p{
    color:white;
    letter-spacing: 0.09em;
    line-height: 55px;
    display: inline;
}